.main_container {
    /* border: 1px solid black; */
    color: #fff;
    font-family: 'Barlow', sans-serif;
}

/* Navbar */
nav {
    width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn {
    font-family: 'Fraunces', serif;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    
    border: none;
    border-radius: 30px;
    background-color: white;
}

.btn:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 25%);
}

.navbar-toggler {
    border: none;
}

/* Bottom of the Header */
.sub_container > h1 {
    /* border: 1px solid red; */
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;

    margin-top: 180px;
    margin-bottom: 200px;
}