/* importing font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    height: 100vh;
}

/* HEADER */
header {
    /* border: 1px solid red; */
    background-color: #3DBEFF; 
    background: url(./images/mobile/image-header.jpg) no-repeat top;
    background-size: 100%;
    min-height: 538px;
    width: 100%;
    font-family: 'Barlow', sans-serif;
}

/* DESKTOP MENU */
.nav-bar {
    padding: 1rem 6rem;
}

.contact-button {
    border-radius: 25px;
    border: none;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-size: 0.8rem;
    padding: 10px 25px;
    background-color: #fff;
}

.contact-button:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 30%);
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 2rem;
}

.header-content img {
    margin-top: 70px;
}

/* CARDS AND PICTURES */
p {
    font-family: 'Barlow', sans-serif;
}
.cards_container h1, .cards_container span a {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

.cards_container p {
    color: hsl(232, 10%, 55%);
}

.cards_container span {
    text-transform: uppercase;
}

.cards_container span .egg-link, .cards_container span .cup-link {
    text-decoration: none;
    position: relative;
    font-size: 1rem;
}

.cards_container span .egg-link::after {
    content: '';
    display: block;
    width: 100%;
    border-bottom: 10px solid rgba(250, 212, 0, 0.2); 
    border-radius: 10px; 
    position: absolute;
    right: 0px;
    bottom: -1px;
    z-index: -1;
}

.cards_container span .cup-link::after {
    content: '';
    display: block;
    width: 100%;
    border-bottom: 10px solid rgba(254, 120, 103, 0.2);
    border-radius: 10px; 
    position: absolute;
    right: 0px;
    bottom: -1px;
    z-index: -1;
}

.content {
    padding: 3rem 1.5rem;
}

.picture-section {
    position: relative;
    display: inline-block;
}

.picture-section .content {
    position: absolute;
    bottom: 0;
}

.picture-section h1 {
    color: hsl(167, 40%, 24%);
    font-weight: 900;
}

.picture-section p {
    color: hsl(167, 40%, 24%);
    font-weight: 900;
    font-size: 0.8rem;
}

/* CLIENT TESTIMONIALS */
.testimonials-container {
    padding: 3rem 1.5rem;
}

.testimonials-container h4 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: hsl(210, 4%, 67%);
}

.testimonials-container p {
    color: hsl(213, 9%, 39%);
}

.client-avatar {
    border-radius: 100%;
    width: 75px;
    overflow: hidden;
}

.client-name {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

.client-job {
    font-family: 'Barlow', sans-serif;
    font-size: 0.8rem;
    color: hsl(210, 4%, 67%);
}

/* FOOTER */
.footer {
    background-color: #90D4C5;
}

.footer .sunnyside-logo {
    margin-bottom: 30px;
    width: 190px;
}



.footer ul {
    margin-bottom: 60px;
}

.footer ul li {
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
    color: hsl(167, 40%, 24%);
}

/* MOBILE MENU */
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/* MEDIA QUERIES */
/* @media screen and (max-width: 425px) {
    
} */

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .contact-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        border: none;
        background: none;
    }
    .mobile-menu {
        background-color: white;
        width: 80%;
    }
    .mobile-menu ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        color: hsl(232, 10%, 55%);
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .contact-button {
        display: block;
        padding: 0.8rem 1.5rem;
        background-color: hsl(51, 100%, 49%);
    }
    .open {
        display: block;
    }
}

/* FOOTER */
.attribution { 
    font-size: 0.8rem; 
    text-align: center; 
}

.attribution a { 
    font-size: 0.8rem; 
    color: hsl(228, 45%, 44%); 
}