/* importing font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    height: 100vh;
}

/* HEADER */
header {
    background-color: #3DBEFF; 
    background: url(./images/mobile/image-header.jpg) no-repeat top;
    background-size: 100%;
    min-height: 538px;
    width: 100%;
    font-family: 'Barlow', sans-serif;
}

/* DESKTOP MENU */
.nav-bar {
    padding: 1rem 6rem;
}

.contact-button {
    border-radius: 25px;
    border: none;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-size: 0.8rem;
    padding: 10px 25px;
    background-color: #fff;
}

.contact-button:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 30%);
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 2rem;
}

.header-content img {
    margin-top: 70px;
}

/* CARDS AND PICTURES */
p {
    font-family: 'Barlow', sans-serif;
}
.cards_container h1, .cards_container span a {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

.cards_container p {
    color: hsl(232, 10%, 55%);
}

.cards_container span {
    text-transform: uppercase;
}

.picture-container img {
    width: 100%;
}

.cards_container span .egg-link, .cards_container span .cup-link {
    text-decoration: none;
    position: relative;
    font-size: 1rem;
}

.cards_container span .egg-link::after {
    content: '';
    display: block;
    width: 145px;
    border-bottom: 10px solid rgba(250, 212, 0, 0.2); 
    border-radius: 10px; 
    position: absolute;
    right: -8px;
    bottom: -1px;
    z-index: -1;
}

.cards_container span .egg-link:hover::after {
    border-bottom: 10px solid rgba(250, 212, 0); 
}

.cards_container span .cup-link::after {
    content: '';
    display: block;
    width: 145px;
    border-bottom: 10px solid rgba(254, 120, 103, 0.2);
    border-radius: 10px; 
    position: absolute;
    right: -8px;
    bottom: -1px;
    z-index: -1;
}

.cards_container span .cup-link:hover::after {
    border-bottom: 10px solid rgba(254, 120, 103);
}

.content {
    padding: 3rem 1.5rem;
}

.picture-section {
    position: relative;
    display: inline-block;
}

.picture-section .content {
    position: absolute;
    bottom: 0;
}

.picture-section h1 {
    color: hsl(167, 40%, 24%);
    font-weight: 900;
}

.picture-section p {
    color: hsl(167, 40%, 24%);
    font-weight: 900;
    font-size: 0.8rem;
}

/* CLIENT TESTIMONIALS */
.testimonials-container {
    padding: 3rem 1.5rem;
}

.testimonials-container h4 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: hsl(210, 4%, 67%);
}

.testimonials-container p {
    color: hsl(213, 9%, 39%);
}

.client-avatar {
    border-radius: 100%;
    width: 75px;
    overflow: hidden;
}

.client-name {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

.client-job {
    font-family: 'Barlow', sans-serif;
    font-size: 0.8rem;
    color: hsl(210, 4%, 67%);
}

/* GALLERY */
.gallery .tier img {
    width: 50%;
    height: 50%;
}

/* FOOTER */
.footer {
    background-color: #90D4C5;
}

.footer .sunnyside-logo {
    margin-bottom: 30px;
    width: 190px;
}

.footer ul {
    margin-bottom: 60px;
}

.footer ul li {
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
    color: hsl(167, 40%, 24%);
}

/* MOBILE MENU */
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/* MEDIA QUERIES */
@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .contact-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        border: none;
        background: none;
    }
    .mobile-menu {
        margin: -320px auto;
        padding: 35px;
        background-color: white;
        width: 85%;
    }
    .mobile-menu ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.2rem;
        color: hsl(232, 10%, 55%);
    }
    .mobile-menu .nav-item {
        display: block;
    }
    .mobile-menu .contact-button {
        display: block;
        padding: 0.4rem 1.4rem;
        font-size: 1rem;
        background-color: hsl(51, 100%, 49%);
        border-radius: 80px;
    }
    .open {
        display: block;
    }
}

@media (min-width: 440px) {
    header {
        min-height: 638px;
    }

    .header-content h1 {
        font-size: 1.6rem;
        margin-top: 40px;
    }

    .header-content img {
        margin-top: 120px;
    }
}

@media (min-width: 530px) {
    header {
        min-height: 738px;
    }

    .picture-section p {
        font-size: 1rem;
    }
}

@media (min-width: 620px) {
    header {
        min-height: 845px;
    }
    
    .header-content h1 {
        font-size: 1.8rem;
        margin-top: 80px;
    }

    .header-content img {
        margin-top: 180px;
    }
}

@media (min-width: 650px) {
    header {
        background-size: 100%;
        min-height: 900px;
        width: 100%;
        font-family: 'Barlow', sans-serif;
    }
    
    .header-content h1 {
        font-size: 1.8rem;
        margin-top: 80px;
    }

    .header-content img {
        margin-top: 180px;
    }
}

@media (min-width: 730px) {
    header {
        background: url(./images/desktop/image-header.jpg) no-repeat top;
        background-size: 100%;
        min-height: 406px;
        width: 100%;
        font-family: 'Barlow', sans-serif;
    }
    
    .header-content h1 {
        font-size: 1.8rem;
        margin-top: 60px;
    }

    .header-content img {
        margin-top: 45px;
        width: 30px;
    }

    /* Changing the sections orientation */
    .section {
        display: flex;
        flex-direction: row-reverse;
    }

    .content-card {
        text-align: start;
        width: 50%;
        padding: 0px 25px;
    }

    .picture-container {
        width: 50%;
    }

    .content-card .content h1 {
        font-size: 1.3rem;
        margin-bottom: -10px;
    }

    .content-card .content p {
        font-size: 0.6rem;
    }

    .content-card .content span a {
        font-size: 0.7rem;
    }

    .section-2 {
        display: flex;
        flex-direction: row;
    }

    .cards_container span .egg-link::after {
        content: '';
        display: block;
        width: 108px;
        border-bottom: 10px solid rgba(250, 212, 0, 0.2); 
        border-radius: 10px; 
        position: absolute;
        right: -8px;
        bottom: -1px;
        z-index: -1;
    }

    .cards_container span .cup-link::after {
        content: '';
        display: block;
        width: 108px;
        border-bottom: 10px solid rgba(254, 120, 103, 0.2);
        border-radius: 10px; 
        position: absolute;
        right: -8px;
        bottom: -1px;
        z-index: -1;
    }

    .last-cards {
        display: flex;
        flex-direction: row;
    }

    .last-cards .picture-container .picture-1 {
        content: url('./images/desktop/image-graphic-design.jpg');
    }

    .last-cards .picture-container .picture-2 {
        content: url('./images/desktop/image-photography.jpg');
    }

    .picture-section {
        position: relative;
        display: inline-block;
    }
    
    .picture-section .content {
        position: absolute;
        bottom: -60px;
    }

    .picture-section .content h1 {
        font-size: 0.8rem;
        margin-bottom: -10px;
    }

    .picture-section .content p {
        font-size: 0.6rem;
    }

    /* Testimonials Desktop Orientation */
    .clients-container {
        display: flex;
        flex-direction: row;
    }

    .clients-container .client {
        margin-bottom: 53px;
    }

    .clients-container .client p {
        width: 80%;
        font-size: 0.6rem;
    }

    .client-avatar {
        width: 55px;
    }

    .client-name {
        font-size: 0.7rem;
    }

    .client-job {
        font-size: 0.6rem;
    }

    /* Gallery */
    .gallery {
        display: flex;
    }

    .gallery .milkbottles {
        content: url('./images/desktop/image-gallery-milkbottles.jpg');
    }
    .gallery .orange {
        content: url('./images/desktop/image-gallery-orange.jpg');
    }
    .gallery .cone {
        content: url('./images/desktop/image-gallery-cone.jpg');
    }
    .gallery .sugarcubes {
        content: url('./images/desktop/image-gallery-sugarcubes.jpg');
    }

    .gallery .tier img {
        height: 100%;
    }
}

@media (min-width: 760px) {
    header {
        background: url(./images/desktop/image-header.jpg) no-repeat top;
        background-size: 100%;
        min-height: 420px;
        width: 100%;
        font-family: 'Barlow', sans-serif;
    }
    
    .header-content h1 {
        font-size: 2rem;
        margin-top: 60px;
    }

    .header-content img {
        margin-top: 45px;
        width: 30px;
    }

    /* Changing the sections orientation */
    .content-card {
        text-align: start;
        width: 50%;
        padding: 0px 25px;
    }

    .picture-container {
        width: 50%;
    }

    .content-card .content h1 {
        font-size: 1.5rem;
        margin-bottom: -5px;
    }

    .content-card .content p {
        font-size: 0.6rem;
    }

    .content-card .content span a {
        font-size: 0.7rem;
    }

    .section-2 {
        display: flex;
        flex-direction: row;
    }

    .cards_container span .egg-link::after {
        content: '';
        display: block;
        width: 108px;
        border-bottom: 10px solid rgba(250, 212, 0, 0.2); 
        border-radius: 10px; 
        position: absolute;
        right: -8px;
        bottom: -1px;
        z-index: -1;
    }

    .cards_container span .cup-link::after {
        content: '';
        display: block;
        width: 108px;
        border-bottom: 10px solid rgba(254, 120, 103, 0.2);
        border-radius: 10px; 
        position: absolute;
        right: -8px;
        bottom: -1px;
        z-index: -1;
    }

    .picture-section {
        position: relative;
        display: inline-block;
    }
    
    .picture-section .content {
        position: absolute;
        bottom: -60px;
    }

    .picture-section .content h1 {
        font-size: 1rem;
        margin-bottom: -10px;
    }

    .picture-section .content p {
        font-size: 0.7rem;
    }

    /* Testimonials Desktop Orientation */
    .clients-container {
        display: flex;
        flex-direction: row;
    }

    .clients-container .client {
        margin-bottom: 53px;
    }

    .clients-container .client p {
        font-size: 0.5rem;
    }

    .client-avatar {
        width: 55px;
    }

    .client-name {
        font-size: 0.7rem;
    }

    .client-job {
        font-size: 0.6rem;
    }
}

@media (min-width: 900px) {
    header {
        background: url(./images/desktop/image-header.jpg) no-repeat top;
        background-size: 100%;
        min-height: 500px;
        width: 100%;
        font-family: 'Barlow', sans-serif;
    }
    
    .header-content h1 {
        font-size: 2rem;
        margin-top: 60px;
    }

    .header-content img {
        margin-top: 45px;
        width: 30px;
    }

    /* Changing the sections orientation */
    .content-card {
        text-align: start;
        width: 50%;
        padding: 0px 30px;
    }

    .picture-container {
        width: 50%;
    }

    .content-card .content h1 {
        font-size: 1.8rem;
        margin-bottom: 25px;
    }

    .content-card .content p {
        font-size: 0.8rem;
    }

    .content-card .content span a {
        font-size: 0.8rem;
    }

    .section-2 {
        display: flex;
        flex-direction: row;
    }

    .cards_container span .egg-link::after {
        content: '';
        display: block;
        width: 118px;
        border-bottom: 10px solid rgba(250, 212, 0, 0.2); 
        border-radius: 10px; 
        position: absolute;
        right: -8px;
        bottom: -1px;
        z-index: -1;
    }

    .cards_container span .cup-link::after {
        content: '';
        display: block;
        width: 118px;
        border-bottom: 10px solid rgba(254, 120, 103, 0.2);
        border-radius: 10px; 
        position: absolute;
        right: -8px;
        bottom: -1px;
        z-index: -1;
    }

    .picture-section {
        position: relative;
        display: inline-block;
    }
    
    .picture-section .content {
        position: absolute;
        bottom: -60px;
    }

    .picture-section .content h1 {
        font-size: 1.2rem;
        margin-bottom: -10px;
    }

    .picture-section .content p {
        font-size: 0.8rem;
    }

    /* Testimonials Desktop Orientation */
    .clients-container {
        display: flex;
        flex-direction: row;
    }

    .clients-container .client {
        margin-bottom: 53px;
    }

    .clients-container .client p {
        font-size: 0.6rem;
    }

    .client-avatar {
        width: 55px;
    }

    .client-name {
        font-size: 0.7rem;
    }

    .client-job {
        font-size: 0.6rem;
    }
}

@media (min-width: 1110px) {
    header {
        background: url(./images/desktop/image-header.jpg) no-repeat top;
        background-size: 100%;
        min-height: 617px;
        width: 100%;
        font-family: 'Barlow', sans-serif;
    }
    
    .header-content h1 {
        font-size: 2.5rem;
        margin-top: 60px;
    }

    .header-content img {
        margin-top: 45px;
        width: 30px;
    }

    /* Changing the sections orientation */
    .content-card {
        text-align: start;
        width: 50%;
        padding: 0px 30px;
    }

    .picture-container {
        width: 50%;
    }

    .content-card .content h1 {
        font-size: 2.3rem;
        margin-bottom: 30px;
    }

    .content-card .content p {
        font-size: 0.8rem;
    }

    .content-card .content span a {
        font-size: 0.8rem;
    }

    .section-2 {
        display: flex;
        flex-direction: row;
    }

    .picture-section .content h1 {
        font-size: 1.4rem;
        margin-bottom: -10px;
    }

    .picture-section .content p {
        font-size: 0.9rem;
    }

    /* Testimonials Desktop Orientation */
    .clients-container {
        display: flex;
        flex-direction: row;
    }

    .clients-container .client {
        margin-bottom: 53px;
    }

    .clients-container .client p {
        font-size: 0.6rem;
    }

    .client-avatar {
        width: 55px;
    }

    .client-name {
        font-size: 0.8rem;
    }

    .client-job {
        font-size: 0.7rem;
    }
}

@media (min-width: 1350px) {
    header {
        background: url(./images/desktop/image-header.jpg) no-repeat top;
        background-size: 100%;
        min-height: 740px;
        width: 100%;
        font-family: 'Barlow', sans-serif;
    }

    .clients-container .client p {
        font-size: 0.7rem;
    }
}

@media (min-width: 1500px) {
    header {
        background: url(./images/desktop/image-header.jpg) no-repeat top;
        background-size: 100%;
        min-height: 820px;
        width: 100%;
        font-family: 'Barlow', sans-serif;
    }

    .clients-container .client p {
        font-size: 0.7rem;
    }
}

/* FOOTER */
.attribution { 
    font-size: 0.8rem; 
    text-align: center; 
}

.attribution a { 
    font-size: 0.8rem; 
    color: hsl(228, 45%, 44%); 
}